label{
    display: block;
}
form{
    text-align: center;
    background-color: aqua;
    margin: 0px 750px 0px 750px;
}
h1{
    text-align: center;
}
#submit{
    padding: 50 px;
}
input[type=submit]{
    background-color: beige;
}
input[type=submit]:hover{
    background-color: pink;
}
body{
    background-color: white;
}